{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'movie/list_serials.css' %} ">
    <title>Title</title>
</head>
<body>
<section class="series-section">
        <div class="movie-header">
          <h2>Serials</h2>
          <a href="#" class="view-all">View All</a>
        </div>
        <div class="movie-list">
          <div class="movie-card">
            <div class="badge"></div>
            <img src="https://ru-images.kinorium.com/movie/1080/400796.jpg?1642150944" alt="Stranger Things">
            <div class="movie-title">Stranger Things</div>
            <div class="movie-info">English | 2016</div>
          </div>
          <div class="movie-card">
            <div class="badge"></div>
            <img src="https://ru-images.kinorium.com/movie/1080/400796.jpg?1642150944" alt="Breaking Bad">
            <div class="movie-title">Breaking Bad</div>
            <div class="movie-info">English | 2008</div>
          </div>
          <div class="movie-card">
            <div class="badge"></div>
            <img src="https://ru-images.kinorium.com/movie/1080/400796.jpg?1642150944" alt="The Crown">
            <div class="movie-title">The Crown</div>
            <div class="movie-info">English | 2016</div>
          </div>
          <div class="movie-card">
            <div class="badge"></div>
            <img src="https://ru-images.kinorium.com/movie/1080/400796.jpg?1642150944" alt="Mindhunter">
            <div class="movie-title">Mindhunter</div>
            <div class="movie-info">English | 2017</div>
          </div>
        </div>
      </section>

    </div>
  </div>
</body>
</html>