{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie List</title>
  <link rel="stylesheet" href="{% static 'movie/list_movie.css' %} ">
</head>
<body>
  <section class="movie-section">
    <div class="movie-header">
      <h2>Movies</h2>
      <a href="#" class="view-all">View All</a>
    </div>
    <div class="movie-list">
      <div class="movie-card">
        <div class="badge"></div>
        <img src="https://static.kinoafisha.info/k/movie_posters/1080x1920/upload/movie_posters/1/5/7/8327751/291240485263.jpg" alt="Jumanji">
        <div class="movie-title">Jumanji</div>
        <div class="movie-info">English | 22 AUG</div>
      </div>
      <div class="movie-card">
        <div class="badge"></div>
        <img src="https://static.kinoafisha.info/k/movie_posters/1080x1920/upload/movie_posters/1/5/7/8327751/291240485263.jpg" alt="The Shining">
        <div class="movie-title">The Shining</div>
        <div class="movie-info">English | 22 AUG</div>
      </div>
      <div class="movie-card">
        <div class="badge"></div>
        <img src="https://static.kinoafisha.info/k/movie_posters/1080x1920/upload/movie_posters/1/5/7/8327751/291240485263.jpg" alt="Free Guy">
        <div class="movie-title">Free Guy</div>
        <div class="movie-info">English | 22 AUG</div>
      </div>
      <div class="movie-card">
        <div class="badge"></div>
        <img src="https://static.kinoafisha.info/k/movie_posters/1080x1920/upload/movie_posters/1/5/7/8327751/291240485263.jpg" alt="Joker">
        <div class="movie-title">Joker</div>
        <div class="movie-info">English | 22 AUG</div>
      </div>
    </div>
  </section>
</body>
</html>